.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogs_items{
padding: 10px;
color:white;
}

.dialogs_items .active{
	color: gold;
}

.dialog{

}

.messages{
padding: 10px;
}

.messages .message{
	margin-top: 10px;
		color: rgb(0, 0, 0);
}

.wrapper{
	padding: 0 10px;
	background-color: white;
	border-radius: 3px;
}